Piece Implementation:
• Piece Class: Implement an abstract Piece class that will serve as a blueprint for all
individual chess pieces. This class should define common attributes (e.g., color,
position) and methods (e.g., possibleMoves()).
• Subclasses: Develop subclasses for each individual piece (Pawn, Rook, Knight,
Bishop, Queen, King). Each subclass should extend the Piece class and define its
unique movement rules.

Pawn: wP/bP
 - Moves one square up. On its first move, can instead move two squares up
 - Captures diagonally. If a pawn moved two squares, a pawn can also capture the pawn by moving to the square behind them.
 - (If it makes it to the opposite side, can promote to anything besides a king or pawn)

Knight: wK/bK
 - "Jumps" two squares in one direction, one in a different direction.
 - Captures by landing on same square as opponent piece.

Rook: wR/bR
 - Moves any number of squares either vertically or horizontally
 - Captures by landing on same square as opponent piece.
 - (Can castle if both king and this rook have not moved)

Bishop: wB/bB
 - Moves any number of squares diagonally
 - Captures by landing on the same square as opponent piece.

Queen: wQ/bQ
 - Moves any number of squares either vertically, horizontally, or diagonally. 
 - Captures by landing on the same square as opponent piece.

King: wK/bK
 - Moves one square in any direction.
 - Captures by landing on the same square as opponent piece.
 - (Can castle if both king and a rook have not moved)
